<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">JobPlatform</a>
        <div class="navbar-nav ms-auto">
            {% if user.is_authenticated %}
                <span class="navbar-text me-3">Hello, {{ user.username }}</span>
                {% if user.user_type == 'job_seeker' %}
                <a class="nav-link" href="{% url 'job_list' %}">Browse Jobs</a>
                <a class="nav-link" href="{% url 'applications:my_applications' %}">My Applications</a>
                {% endif %}
                <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
            {% else %}
                <a class="nav-link" href="{% url 'job_list' %}">Browse Jobs</a>
                <a class="nav-link" href="{% url 'account_login' %}">Login</a>
                <a class="nav-link" href="{% url 'account_signup' %}">Sign Up</a>
            {% endif %}
        </div>
    </div>
</nav>